:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f0f3f5;
  --text-color: #34495e;
  --card-background: #ffffff;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn-success {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-success:hover {
  background-color: #27ae60;
  border-color: #27ae60;
}

.card {
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  border: none;
  border-radius: 8px;
}

.form-control:focus, .form-select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-brand, .nav-link {
  color: white !important;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}
.Toastify__toast-container {
  z-index: 9999 !important;
}
